html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container, .container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.custom-navbar {
  background-color: #2d0a53 !important; 
}

.custom-toggler {
  background-color: aliceblue;
}

.button-text {
  font-size: 90px;
  font-weight: bold;
  font-family: "Iceberg", sans-serif;
}

.iceberg-regular {
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.no-round {
  border-radius: 0 !important;
}
